# EditorConfig
# http://EditorConfig.org

# Don't search any further up the directory tree
root = true

# Baseline
[*]
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

# Eclipse configuration
[.{classpath,project}]
indent_style = tab

# IntelliJ configuration
[.idea/**/*.xml]
indent_size = 2
insert_final_newline = false

# Markdown
[*.md]
trim_trailing_whitespace = false

# YAML
[*.yml]
indent_size = 2
